@import "tailwindcss";

:root {
  --background: #fdfaff;
  --foreground: #4c1d95;
}

body {
  background: var(--background);
  color: var(--foreground);
}

* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Smooth scrolling */
html {
  scroll-behavior: smooth;
}

/* Custom scrollbar */
::-webkit-scrollbar {
  width: 6px;
}
::-webkit-scrollbar-track {
  background: transparent;
}
::-webkit-scrollbar-thumb {
  background: #d8b4fe;
  border-radius: 99px;
}
